backup/

// Latex auxiliary files
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.vrb
*.lof
*.lot
*.idx
*.ilg
*.ind
*.maf
*.mtc*
*.mtc0
*.run.xml
*.xdv
*.pdfsync
*.dvi
*.ps

// Ignore Mac
.DS_Store
